@use "mediaQuery" as *;
.header-hero {
  background-color: #eef1f6;
}
.container {
  width: 80%;
  margin: auto;
  @include breakpoints(mobile) {
    width: 90%;
    // padding: 2rem;
    margin: auto;
  }
  @include breakpoints(tablet) {
    width: 90%;
    margin: auto;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.2);
  z-index: 100;
  backdrop-filter: blur(5px);
}
.log-in-form {
  position: absolute;
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  width: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  .close-login-form {
    font-size: 1.6rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
  @include breakpoints(mobile) {
    width: 90%;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h3 {
    font-size: 3rem;
    color: #0e1133;
    margin-bottom: 3rem;
  }
  .input-field {
    width: 100%;
    margin-bottom: 2rem;
    label {
      display: block;
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #0e1133;
    }
    input {
      width: 100%;
      border: 1px solid #0e1133;
      outline: none;
      padding: 1rem;
      color: #0e1133;
      font-size: 1.8rem;
      border-radius: 1rem;
      &::placeholder {
        color: #333;
      }
    }
  }
  h4 {
    font-size: 1.6rem;
    color: #0e1133;
    font-weight: 300;
    margin-bottom: 1.5rem;
    a {
      color: #6975f0;
    }
  }
  input[type="submit"] {
    border: none;
    background-color: #0e1133;
    width: 90%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 1.4rem;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
  }
  .login-email {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #0e1133;
    width: 100%;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 1rem;
    i {
      font-size: 1.4rem;
      margin-right: 1rem;
    }
  }
}
